<!-- About section start -->
<section class='container about'>
  <div>
    <img src='/img/carousel-2.jpg' alt='' />
  </div>
  <div class='text-about'>
    <h1>#1 Encontrando propiedades ideal para tu hogar</h1>
    <p>Tempor erat elitr rebum at clita. diam dolor diam ipsum sit. Aliqu diam
      amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit
      clita duo justo magna dolore erat amet</p>
    <ul>
      <li>Característica 1</li>
      <li>Característica 2</li>
      <li>Característica 3</li>
    </ul>
  </div>
</section>
<!-- About section end -->