<!-- Comment Customer start -->
<section class='container comment'>
  <div class='comment-start'>
    <h1>Nuestros clientes dicen</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
      consequatur delectus obcaecati necessitatibus explicabo facilis,
      perferendis quis unde saepe fuga!</p>
  </div>

  <div class='swiper mySwiper2'>
    <div class='swiper-wrapper'>
      <div class='swiper-slide'>
        <div class='comment-text'>
          <div class='comment-text-content'>
            <p>Comentario 1</p>
          </div>
          <div class='comment-profile'>
            <div class='comment-img'>
              <img src='/img/icon-1 (3).png' alt='' />
            </div>
            <div class='comment-profile-details'>
              <h4>Nombre cliente</h4>
              <h6>Apellido cliente</h6>
              <h6>Profesión</h6>
            </div>
          </div>
        </div>
      </div>
      <div class='swiper-slide'>
        <div class='comment-text'>
          <div class='comment-text-content'>
            <p>Comentario 2</p>
          </div>
          <div class='comment-profile'>
            <div class='comment-img'>
              <img src='/img/icon-1 (3).png' alt='' />
            </div>
            <div class='comment-profile-details'>
              <h4>Nombre cliente</h4>
              <h6>Apellido cliente</h6>
              <h6>Profesión</h6>
            </div>
          </div>
        </div>
      </div>
      <div class='swiper-slide'>
        <div class='comment-text'>
          <div class='comment-text-content'>
            <p>Comentario 3</p>
          </div>
          <div class='comment-profile'>
            <div class='comment-img'>
              <img src='/img/icon-1 (3).png' alt='' />
            </div>
            <div class='comment-profile-details'>
              <h4>Nombre cliente</h4>
              <h6>Apellido cliente</h6>
              <h6>Profesión</h6>
            </div>
          </div>
        </div>
      </div>
      <div class='swiper-slide'>
        <div class='comment-text'>
          <div class='comment-text-content'>
            <p>Comentario 4</p>
          </div>
          <div class='comment-profile'>
            <div class='comment-img'>
              <img src='/img/icon-1 (3).png' alt='' />
            </div>
            <div class='comment-profile-details'>
              <h4>Nombre cliente</h4>
              <h6>Apellido cliente</h6>
              <h6>Profesión</h6>
            </div>
          </div>
        </div>
      </div>
      <div class='swiper-slide'>
        <div class='comment-text'>
          <div class='comment-text-content'>
            <p>Comentario 5</p>
          </div>
          <div class='comment-profile'>
            <div class='comment-img'>
              <img src='/img/icon-1 (3).png' alt='' />
            </div>
            <div class='comment-profile-details'>
              <h4>Nombre cliente</h4>
              <h6>Apellido cliente</h6>
              <h6>Profesión</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='comment-rows'>
    <div id='swiper-button-prev2' class='swiper-button-prev'></div>
    <div id='swiper-button-next2' class='swiper-button-next'></div>
  </div>
</section>
<!-- Comment Customer end -->