<!-- Comment Customer start -->
<section class='container comment'>
  <div class='comment-start'>
    <h1>Nuestros clientes dicen</h1>
    <p>En
      <span>CasaFácil</span>, nos enorgullece escuchar lo que nuestros clientes
      tienen que decir. Nuestra predisposición, facilidad de gestión y la
      capacidad de nuestros vendedores son aspectos que destacan en sus
      experiencias. Pero no tomes solo nuestra palabra, descubre lo que nuestros
      clientes han compartido sobre su colaboración con
      <span>CasaFácil</span>:</p>
  </div>

  <div class='swiper mySwiper2'>
    <div class='swiper-wrapper'>
      <div class='swiper-slide'>
        <div class='comment-text'>
          <div class='comment-text-content'>
            <p>Trabajar con
              <span>CasaFácil</span>
              fue una experiencia excepcional. La predisposición de su equipo es
              insuperable. Encontramos la casa perfecta sin problemas.</p>
          </div>
          <div class='comment-profile'>
            <div class='comment-img'>
              <img src='/img/customers/testimonial-1.jpg' alt='' />
            </div>
            <div class='comment-profile-details'>
              <h4>Laura S </h4>
              <div class='rating'>
                <span class='star' data-rating='1'>&#9733;</span>
                <span class='star' data-rating='2'>&#9733;</span>
                <span class='star' data-rating='3'>&#9733;</span>
                <span class='star' data-rating='4'>&#9733;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='swiper-slide'>
        <div class='comment-text'>
          <div class='comment-text-content'>
            <p>La facilidad en la gestión hizo que todo el proceso fuera suave y
              sin complicaciones.
              <span>CasaFácil</span>
              se encargó de cada detalle.</p>
          </div>
          <div class='comment-profile'>
            <div class='comment-img'>
              <img src='/img/customers/testimonial-2.jpg' alt='' />
            </div>
            <div class='comment-profile-details'>
              <h4>Juan M </h4>
              <div class='rating'>
                <span class='star' data-rating='1'>&#9733;</span>
                <span class='star' data-rating='2'>&#9733;</span>
                <span class='star' data-rating='3'>&#9733;</span>
                <span class='star' data-rating='4'>&#9733;</span>
                <span class='star' data-rating='5'>&#9733;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='swiper-slide'>
        <div class='comment-text'>
          <div class='comment-text-content'>
            <p>La capacidad de los vendedores de
              <span>CasaFácil</span>
              realmente se destaca. Nos guiaron en la compra de nuestra villa de
              lujo con profesionalismo y conocimiento.</p>
          </div>
          <div class='comment-profile'>
            <div class='comment-img'>
              <img src='/img/customers/testimonial-3.jpg' alt='' />
            </div>
            <div class='comment-profile-details'>
              <h4>Diego R </h4>
              <div class='rating'>
                <span class='star' data-rating='1'>&#9733;</span>
                <span class='star' data-rating='2'>&#9733;</span>
                <span class='star' data-rating='3'>&#9733;</span>
                <span class='star' data-rating='4'>&#9733;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='swiper-slide'>
        <div class='comment-text'>
          <div class='comment-text-content'>
            <p><span>CasaFácil</span>
              nos ayudó a encontrar el departamento ideal. La atención y el
              apoyo que brindaron hicieron que todo fuera más fácil. ¡Gracias!.</p>
          </div>
          <div class='comment-profile'>
            <div class='comment-img'>
              <img src='/img/customers/testimonial-4.jpg' alt='' />
            </div>
            <div class='comment-profile-details'>
              <h4>Maria G </h4>
              <div class='rating'>
                <span class='star' data-rating='1'>&#9733;</span>
                <span class='star' data-rating='2'>&#9733;</span>
                <span class='star' data-rating='3'>&#9733;</span>
                <span class='star' data-rating='4'>&#9733;</span>
                <span class='star' data-rating='5'>&#9733;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='comment-rows'>
    <div id='swiper-button-prev2' class='swiper-button-prev'></div>
    <div id='swiper-button-next2' class='swiper-button-next'></div>
  </div>
</section>
<!-- Comment Customer end -->