<!-- Contact our Agents start -->
<section class='container agents'>
  <div class='card-info'>
    <div class='card-agent'>
      <div class='agent'>
        <img src='/img/carousel/property-1.jpg' alt='' />
      </div>
      <div class='agent-info'>
        <h1>Contacto con nuestros agentes certificados</h1>
        <p>En
          <span>CasaF치cil</span>, estamos listos para atenderte de manera
          amigable y eficiente. Nuestros vendedores expertos est치n a tu
          disposici칩n</p>
        <a href='/contacto'>Contact치nos</a>
      </div>
    </div>
  </div>
</section>
<!-- Contact our Agents end -->