<!-- Contact our Agents start -->
<section class='container agents'>
  <div class='card-info'>
    <div class='card-agent'>
      <div class='agent'>
        <img src='/img/property-1.jpg' alt='' />
      </div>
      <div class='agent-info'>
        <h1>Contacto con nuestros agentes certificados</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem,
          temporibus.</p>
        <a href='#'>Contactános</a>
      </div>
    </div>
  </div>
</section>
<!-- Contact our Agents end -->