{{#each errors}}
  <div class='custom-alert success container'>
    <p>{{errors}}</p>
    <button type='button' class='close-button' aria-label='Close'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
{{/each}}