<!-- Footer start -->
<footer class='container'>
  <div class='footer'>
    <div class='contacts'>
      <h1>Contactanos</h1>
      <ul>
        <li><i class='fa-solid fa-location-dot'></i>9 de julio 2247, Resistencia</li>
        <li><i class='fa-solid fa-phone'></i>+54 123456789</li>
        <li><i class='fa-solid fa-envelope'></i>mail@mail.com</li>
      </ul>
      <div class='icons'>
        <i class='fa-brands fa-facebook'></i>
        <i class='fa-brands fa-twitter'></i>
        <i class='fa-brands fa-instagram'></i>
      </div>
    </div>
    <div class='sites'>
      <h1>Nuestro sitio</h1>
      <ul>
        <li><a href='#'>Nosotros</a></li>
        <li><a href='#'>Contactanos</a></li>
        <li><a href='#'>Nuestros servicios</a></li>
        <li><a href='#'>Polítca de privacidad</a></li>
        <li><a href='#'>Término y condiciones</a></li>
      </ul>
    </div>
    <div class='photos'>
      <h1>Galería de fotos</h1>
      <div class='photos-galery'>
        <a href='#'><img src='/img/carousel/carousel-1.jpg' alt='' /></a>
        <a href='#'><img src='/img/carousel/carousel-2.jpg' alt='' /></a>
        <a href='#'><img
            src='https://arquine.com/wp-content/uploads/2021/06/garden_8.jpg'
            alt=''
          /></a>
        <a href='#'><img
            src='https://www.casasnuevasaqui.com/guia/wp-content/uploads/2023/03/new-construction-home.png.webp'
            alt=''
          /></a>
        <a href='#'><img src='/img/carousel/about.jpg' alt='' /></a>
        <a href='#'><img
            src='https://images.adsttc.com/media/images/512d/2d9b/b3fc/4b11/a700/f319/large_jpg/1331768740-1331625455-tea-house-7-1000x1000.jpg?1412133198'
            alt=''
          /></a>
      </div>
    </div>
    <br />
  </div>
  <br />
</footer>
<!-- Footer end -->