{{#if successMsg}}
  <div class='custom-alert success container'>
    <p>{{successMsg}}</p>
    <button type='button' class='close-button' aria-label='Close'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
{{/if}}

{{#if errorMsg}}
  <div class='custom-alert success container'>
    <p>{{errorMsg}}</p>
    <button type='button' class='close-button' aria-label='Close'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
{{/if}}