<div class='menu container'>
  <a href='/prueba' class='logo'>Destino</a>
  <input type='checkbox' name='menu' id='menu' />
  <label for='menu'>
    <img src='/img/menu.svg' alt='' class='menu-icono' />
  </label>
  <nav class='navbar'>
    <ul>
      <li><a href='#' target='_blank' rel='noopener noreferrer'>Inicio</a></li>
      <li><a
          href='#'
          target='_blank'
          rel='noopener noreferrer'
        >Propiedades</a></li>
      <li><a
          href='#'
          target='_blank'
          rel='noopener noreferrer'
        >Contacto</a></li>
      <li><a href='#' target='_blank' rel='noopener noreferrer'>Login</a></li>
      <li><a
          href='#'
          target='_blank'
          rel='noopener noreferrer'
        >Registrarse</a></li>
      <li><a href='#' target='_blank' rel='noopener noreferrer'>Logout</a></li>
    </ul>
  </nav>
  <!--  
  <div class='icons'>
    <i class='fa-brands fa-facebook'></i>
    <i class='fa-brands fa-twitter'></i>
    <i class='fa-brands fa-instagram'></i>
  </div>
  -->
</div>