<div class='menu container'>
  <a href='/' class='logo'>Destino</a>
  <input type='checkbox' name='menu' id='menu' />
  <label for='menu'>
    <img src='/img/menu.svg' alt='' class='menu-icono' />
  </label>
  <nav class='navbar'>
    <ul>
      <li><a href='/'>Inicio</a></li>
      <li><a href='/residencias'>Propiedades</a></li>
      <li><a href='/contacto'>Contacto</a></li>
      <li><a href='/login'>Login</a></li>
      <li><a href='/registrar'>Registrarse</a></li>
      <li><a href='/logout'>Logout</a></li>
      <li><a href='/admin'>Cargar Propiedad</a></li>

    </ul>
  </nav>
</div>