<div class='menu container'>
  <a href='/' class='logo'>Destino</a>
  <input type='checkbox' name='menu' id='menu' />
  <label for='menu'>
    <img src='/img/menu.svg' alt='' class='menu-icono' />
  </label>
  <nav class='navbar'>
    <ul>
      <li><a href='/'>Inicio</a></li>
      <li><a href='/residencias'>Propiedades</a></li>
      <li><a href='/contacto'>Contacto</a></li>
      <li><a href='/about'>Nosotros</a></li>
      {{#unless user}}
        <li><a href='/login'>Login</a></li>
        <li><a href='/registrar'>Registrarse</a></li>
      {{else}}
        <li><a href='/user/logout'>Logout</a></li>
      {{/unless}}
      {{#if admin}}
        <li><a href='/admin'>Cargar Propiedad</a></li>
      {{/if}}
    </ul>
  </nav>
</div>