<!-- Type propertis section  start -->
<section class='container propiedades'>
  <h2>tipo de propiedades</h2>
  <h4>En
    <span>CasaFácil</span>, te ayudamos a encontrar el hogar perfecto para tu
    familia. Ofrecemos una amplia variedad de propiedades, desde casas y
    departamentos hasta villas de lujo. Nos destacamos por hacer que el proceso
    de alquiler o compra sea simple y sin complicaciones, con contratos fáciles
    de entender. Deja que nuestro equipo de expertos te guíe en esta emocionante
    búsqueda, donde cada propiedad cuenta una historia.
    <br />Bienvenido a
    <span>CasaFácil</span>
    donde tu hogar ideal se hace realidad.</h4>
  <hr />

  <div class='categorias'>
    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/propertis/icon-apartment.png' alt='' />
          </div>
          <h6>Departamentos</h6>
          <span>13 Propiedades</span>
        </div>
      </a>
    </div>
    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/propertis/icon-building.png' alt='' />
          </div>
          <h6>Construcción</h6>
          <span>5 Prop en Construcción</span>
        </div>
      </a>
    </div>
    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/propertis/icon-condominium.png' alt='' />
          </div>
          <h6>Condominios</h6>
          <span>6 Condominios</span>
        </div>
      </a>
    </div>
    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/propertis/icon-house.png' alt='' />
          </div>
          <h6>Casas</h6>
          <span>26 Casas</span>
        </div>
      </a>
    </div>
    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/propertis/icon-villa.png' alt='' />
          </div>
          <h6>Villas</h6>
          <span>4 Villas</span>
        </div>
      </a>
    </div>
    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/propertis/icon-search.png' alt='' />
          </div>
          <h6>Alquileres</h6>
          <span>34 Alquileres</span>
        </div>
      </a>
    </div>
    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/propertis/icon-neighborhood.png' alt='' />
          </div>
          <h6>Vecindarios</h6>
          <span>2 Vecindarios</span>
        </div>
      </a>
    </div>
    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/propertis/icon-luxury.png' alt='' />
          </div>
          <h6>Lujosas</h6>
          <span>3 Casas Lujosas</span>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- Type propertis section end -->