<!-- Type propertis section  start -->
<section class='container propiedades'>
  <h2>tipo de propiedades</h2>
  <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta atque
    placeat a, voluptate quis ipsa iusto dolor laudantium reprehenderit
    cupiditate incidunt animi rerum, earum eius! Exercitationem animi expedita
    inventore delectus?</h4>
  <hr />

  <div class='categorias'>
    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/icon-1 (1).png' alt='' />
          </div>
          <h6>Hola</h6>
          <span>123 Properties</span>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/icon-1 (1).png' alt='' />
          </div>
          <h6>Hola</h6>
          <span>123 Properties</span>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/icon-1 (1).png' alt='' />
          </div>
          <h6>Hola</h6>
          <span>123 Properties</span>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/icon-1 (1).png' alt='' />
          </div>
          <h6>Hola</h6>
          <span>123 Properties</span>
        </div>
      </a>
    </div>
    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/icon-1 (1).png' alt='' />
          </div>
          <h6>Hola</h6>
          <span>123 Properties</span>
        </div>
      </a>
    </div>
    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/icon-1 (1).png' alt='' />
          </div>
          <h6>Hola</h6>
          <span>123 Properties</span>
        </div>
      </a>
    </div>
    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/icon-1 (1).png' alt='' />
          </div>
          <h6>Hola</h6>
          <span>123 Properties</span>
        </div>
      </a>
    </div>
    <div class='card'>
      <a href='#' class='card-interno'>
        <div class='contenido'>
          <div class='icon-card'>
            <img src='/img/icon-1 (1).png' alt='' />
          </div>
          <h6>Hola</h6>
          <span>123 Properties</span>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- Type propertis section end -->