{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "parser": "glimmer"
      }
    }
  ]
}
