<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>CasaFácil - Encuentra tu Hogar</title>
    <!-- Open Graph -->
    <meta property="og:title" content="CasaFácil">
    <meta property="og:type" content="website">
    <meta property="og:description" content="En CasaFácil, hacemos que encontrar el hogar ideal sea sencillo. Descubre una amplia variedad de propiedades, desde casas y departamentos hasta villas de lujo. Nuestros clientes elogian nuestra predisposición, facilidad de gestión y la capacidad de nuestros vendedores. ¡Encuentra tu hogar perfecto hoy!">
    <meta property="og:image" content="https://images.unsplash.com/photo-1613977257365-aaae5a9817ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bHV4dXJ5JTIwaG91c2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80">
    <!-- FavIcon -->
    <link rel="shortcut icon" href="/img/favicon/casa.png" type="image/x-icon">
    <!-- Font Awesome -->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'
    />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css'
    />
    <!-- CSS personalizado -->
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <header>
      {{> navbar}}
    </header>

    <main>
      {{>messages}}
      {{{body}}}
    </main>
    <section>
      {{>typePropertis}}
    </section>
    <section>
      {{>about}}
    </section>

    <section>
      {{>propertis}}
    </section>

    <section>
      {{>contactAgents}}
    </section>

    <section>
      {{>comments}}
    </section>

    <footer>
      {{>footer}}
    </footer>
    <script
      src='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js'
    ></script>
    <script src='/js/main.js'></script>
  </body>

</html>