<!-- About section start -->
<section class='container about'>
  <div>
    <img src='/img/carousel/header.jpg' alt='' />
  </div>
  <div class='text-about'>
    <h1>#1 Encontrando propiedades ideal para tu hogar</h1>
    <p>En
      <span>CasaFácil</span>, estamos listos para atenderte de manera amigable y
      eficiente. Nuestros vendedores expertos están a tu disposición.
      Experimenta:</p>
    <ul>
      <li>Predisposición excepcional.</li>
      <li>Facilidad en la gestión.</li>
      <li>Capacidad demostrada de nuestros vendedores.</li>
    </ul>
  </div>
</section>
<!-- About section end -->