<div class='container'>
  <form action='/propiedades/agregar' method='POST'>

    <div class='formulario-centered'>
      <h1>Cargar las propiedades</h1>
      <form action='/user/login' method='POST'>
        <div class='form-card'>
          <div class='form-group'>
            <label for='name'>Nombre de propiedad</label>
            <input
              type='text'
              name='name'
              id='name'
              placeholder='Nombre de la propiedad'
              minlength='5'
              maxlength='50'
              required
            />
          </div>
          <div class='form-group'>
            <label for='description'>Descripción</label>
            <input
              type='text'
              name='description'
              id='description'
              placeholder='Contraseña'
              maxlength='500'
              required
            />
          </div>
          <div class='form-group'>
            <label for='direction'>Dirección</label>
            <input
              type='text'
              name='direction'
              id='direction'
              placeholder='Dirección'
              minlength='4'
              maxlength='100'
              required
            />
          </div>
          <div class='form-group number'>
            <label for='price'>Precio</label>
            <input
              type='number'
              name='price'
              id='price'
              placeholder='Precio'
              min='0'
              required
            />
          </div>
          <div class='form-group number'>
            <label for='room'>Número habitaciones</label>
            <input
              type='number'
              name='romm'
              id='romm'
              placeholder='Número habitaciones'
              min='1'
              required
            />
          </div>
          <div class='form-group number'>
            <label for='bathroom'>Número baños</label>
            <input
              type='number'
              name='bathroom'
              id='bathroom'
              placeholder='Número baños'
              min='1'
              required
            />
          </div>
          <div class='form-group number'>
            <label for='bathroom'>Dimension en m2</label>
            <input
              type='number'
              name='bathroom'
              id='bathroom'
              placeholder='Número baños'
              min='1'
              required
            />
          </div>
          <div class='form-group'>
            <label for='cathegoryProperty'>Categoría</label>
            <select name='cathegoryProperty' id='cathegoryProperty' required>
              {{#each context.validCategories}}
                <option value='{{this}}'>{{this}}</option>
              {{/each}}
            </select>
          </div>

          <div class='form-group'>
            <label for='state'>Estado</label>
            <select name='state' id='state' required>
              {{#each stateProperty.state}}
                <option value='{{this}}'>{{this}}</option>
              {{/each}}
            </select>
          </div>
          <div class='form-group'>
            <label for='urlimage'>URL Imagen</label>
            <input
              type='text'
              name='urlimage'
              id='urlimage'
              placeholder='URL de la imagen'
              required
            />
          </div>
          <button>Cargar propiedad</button>
        </div>
      </form>
    </div>
  </form>
</div>