<div class='container comment-page'>
  <iframe
    src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56644.41810538125!2d-58.99534525000001!3d-27.460661499999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450c62a6f5f70b%3A0xf03ac86511c2cd6d!2sResistencia%2C%20Chaco!5e0!3m2!1ses-419!2sar!4v1697126862347!5m2!1ses-419!2sar'
    width='800'
    height='600'
    style='border:0;'
    allowfullscreen=''
    loading='lazy'
    referrerpolicy='no-referrer-when-downgrade'
  ></iframe>

  <div class='content'>
    <p>
      En CasaFacil, entendemos la importancia del tiempo cuando se trata de
      encontrar tu nuevo hogar. Nuestro compromiso es brindarte una experiencia
      ágil y eficiente. Valoramos tu tiempo y nos comprometemos a ofrecerte
      respuestas rápidas y soluciones eficaces.
    </p>

    <form action='/contacto/crear' method='POST' class='form-contact'>
      <div class='info-form'>
        <input type='text' name='name' id='name' placeholder='Nombre' />
        <input
          type='email'
          name='mail'
          id='mail'
          placeholder='Correo Electrónico'
        />
      </div>
      <input type='text' name='subject' id='subject' placeholder='Asunto' />
      <textarea
        name='message'
        id='message'
        placeholder='Escribe tu mensaje'
      ></textarea>
      <button class='contactanos'>Contactanos!</button>
    </form>
  </div>
</div>