<div class='header-content container'>
  <div class='header-text'>
    <h1>encuentra un
      <span>hogar ideal</span>
      para vivir con tu familia.
    </h1>
    <p>Explora nuestro mundo de opciones y
      <span>encuentra el hogar de tus sueños</span>
      para tu familia</p>
    <a href='#' class='btn-1'>empezar</a>
  </div>

  <div class='images'>

    <div class='swiper mySwiper'>

      <div class='swiper-wrapper'>

        <div class='swiper-slide'>
          <img src='/img/carousel/about.jpg' alt='' />
        </div>

        <div class='swiper-slide'>
          <img src='/img/carousel/carousel-1.jpg' alt='' />

        </div>

        <div class='swiper-slide'>
          <img src='/img/carousel/carousel-2.jpg' alt='' />

        </div>

        <div class='swiper-slide'>
          <img src='/img/carousel/header.jpg' alt='' />

        </div>

        <div class='swiper-slide'>
          <img src='/img/carousel/about.jpg' alt='' />

        </div>

      </div>

    </div>

  </div>
  <div class='rows'>
    <div id='swiper-button-next' class='swiper-button-next'></div>
    <div id='swiper-button-prev' class='swiper-button-prev'></div>
  </div>
</div>