@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
font-family: 'Roboto Condensed', sans-serif;
*/

/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Colores a utilizar y fuentes */

:root {
    --primary: #00B98E;
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #0E2E50;
    --font-roboto: 'Roboto Condensed', sans-serif;
}

/* Tags generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
}

header {
    display: flex;
    position: relative;
    margin-bottom: 200px;
    align-items: center;
}

/* Clases */
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--primary);
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    display: block;
    font-weight: bold;
    color: var(--dark);
}

.menu .navbar ul li a:hover {
    color: var(--primary);
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-text {
    width: 40%;
}

.header-text h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--dark);
    font-family: var(--font-roboto)
}

.header-text span {
    color: var(--primary)
}

.header-text p {
    font-size: 18px;
    color: #666565;
    font-weight: 500;
}

.btn-1 {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: var(--primary);
    color: white;
    text-transform: capitalize;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    font-family: var(--font-roboto);
    font-weight: 700;
    letter-spacing: 0.5px;
}

.btn-1:hover {
    background-color: #26c49f;
    border-color: #1ac099;
}


.images {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    /* Ajusta el ancho según tus necesidades */
    z-index: 1;
}

.header-content {
    padding: 10px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    /* Para separar el texto y las imágenes */
    align-items: flex-end;
    /* Para alinear las imágenes en la parte inferior */
}



.swiper {
    width: 100%;
    height: 100%;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.rows {
    position: absolute;
    left: 70%;
    z-index: 2;
    /* Cambia el z-index a 2 para que esté por encima de la imagen */
}

#swiper-button-prev {
    transform: translateX(-190%);
}

#swiper-button-next {
    transform: translateX(80%);
}

.swiper-button-prev,
.swiper-button-next {
    height: 50px;
    width: 50px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    background-color: var(--light);
    color: var(--dark);
}



.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 25px;
}


.propiedades {
    color: var(--dark);
    font-family: var(--font-roboto);

    margin-top: 100px;
}

.propiedades h2 {
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    margin: 20px;
}

.propiedades h4 {
    text-align: center;
    font-size: 20px;
    max-width: 1000px;
    margin-left: 100px;
}



.propiedades h4 span {
    color: var(--primary);
}


.propiedades hr {
    border: none;
    padding: 30px;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: var(--light);
    border-radius: 5px;

}

.card-interno {
    background-color: white;
    margin: 10px;
    border: 1px dotted var(--primary);
}

.card a {
    display: block;
    padding: 20px;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenido h6 {
    margin-top: 10px;
}

.contenido span {
    margin-top: 5px;
}

.icon-card {
    padding-top: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 0.1px dotted var(--primary);
}

.card a:hover:not(.icon-card) .icon-card {
    border-color: var(--light);
    background-color: white;
}

.card a:hover:not(.icon-card) {
    background-color: var(--primary);
    color: var(--light);
}

/* About */

.about {
    margin-top: 100px;
    padding: 40px 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about img {
    width: 600px;
    height: 600px;
}

.text-about {
    color: var(--dark);
    padding-left: 50px;
}

.text-about h1 {
    font-size: 60px;
    text-transform: capitalize;
}

.text-about p {
    margin-top: 30px;
    font-size: 20px;
    padding-top: 20px;
    letter-spacing: 1px;
    line-height: 25px;
}

.text-about p span {
    color: var(--primary);
}

.text-about ul {
    margin-top: 15px;
}

.text-about ul li {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.text-about ul li:before {
    content: '✓';
    margin: 30px 10px;
    color: var(--primary);
}


/* Lista de propiedades */

.lista-propiedades {
    margin-bottom: 100px;
}

.lista-propiedades h1 {
    font-size: 50px;
    color: var(--dark);
    text-transform: capitalize;
    margin-left: 5px;
    margin-bottom: 15px;
    padding-top: 10px;
}

.contenido-propiedades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 5px;
}


.contenido-propiedades .texto {
    grid-column: span 2;
}

.texto p {
    margin-left: 5px;
}

.listas ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.listas ul li {
    border: 1px solid var(--primary);
    color: var(--dark);
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
}

.listas ul li:hover a {
    color: white;
}

.listas ul li:hover {
    background-color: var(--primary);
}

.listas ul li a::after
/* Venta-Alquiler de propiedades*/

.todas-propiedades a {
    display: block;
}

.todas-propiedades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 10px;
    max-width: 1200px;
    background-color: #F6F6F6;
}

.card-principal {
    position: relative;
    background-color: white;
}

.imagen-venta {
    position: relative;
    overflow: hidden;

}

.imagen-venta img {
    min-width: 375.66px;
    max-width: 100%;
    height: 375.66px;
    display: block;
}

.span1 {
    background-color: var(--primary);
    color: white;
    letter-spacing: 2px;
    top: -10px;
    left: 0;
    position: absolute;
    margin: 10px 20px;
    padding: 5px;
    border-radius: 0px 0 5px 5px;
    font-size: 20px;
}

.span2 {
    bottom: -10px;
    left: 0;
    background-color: white;
    color: var(--dark);
    letter-spacing: 1px;
    position: absolute;
    margin: 10px 20px;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
}

.precio-ubicacion {
    padding: 10px;
    margin: 10px;
}

.form-admin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.form-admin form button {
    color: var(--dark);
    font-size: ;
    background-color: var(--primary);
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
    transform: scale(1);
    transition: transform 0.4s ease;
}

.form-admin form button:hover {
    color: var(--light);
    transform: scale(1.2);
}

.precio-ubicacion h2 {
    color: var(--primary);
}

.precio-ubicacion p {
    color: var(--dark);
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
}

.precio-ubicacion i {
    padding-top: 10px;
    color: var(--primary);
}

.precio-ubicacion span {
    padding: 10px;
    padding-top: 10px;
    color: #666565;
}

.informacion {
    display: flex;
    flex-direction: row;

}

.m2,
.habitaciones,
.banios {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.m2 i .habitaciones i .banios i {
    padding-right: px;
}

.m2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    border-top: 1px dotted var(--primary);
    border-right: 1px dotted var(--primary);
    border-collapse: separate;
}

.habitaciones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px dotted var(--primary);
    border-right: 1px dotted var(--primary);
    border-collapse: separate;
    border-width: 1;
}

.banios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    border-top: 1px dotted var(--primary);
    border-collapse: separate;
    border-width: 1;
}

.card-principal .imagen-venta img {
    transform: scale(1);
    transition: transform 0.4s ease;
}

.card-principal:hover .imagen-venta img {
    transform: scale(1.10);
}

/*#;*/
.ver {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 0px 0px 10px 0px;
    background-color: #F6F6F6
}

.ver a {
    background-color: var(--primary);
    color: var(--dark);
    font-size: 30px;
    padding: 10px;
    border-color: var(--light);
    border-radius: 10px;
    transform: scale(1);
    transition: transform 0.4s ease;
}

.ver a:hover {
    transform: scale(1.10);
    color: var(--light);
}

/* Contact Agents*/


.card-info {
    background-color: #F6F6F6;
    margin-top: 10px;
    padding: 10px;
}


.card-agent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    padding: 20px;
    margin: 10px;
    margin-top: 10px;

}

.agent {
    padding: 5px;
}

.agent img {
    width: 550px;
}

.agent-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    padding-left: 40px;
    margin-left: 40px;
}

.agent-info h1 {
    color: var(--dark);
    font-size: 40px;
    text-align: center;
}

.agent-info a {
    text-align: center;
    font-size: 40px;
    padding: 15px;
    border-radius: 20px;
    color: var(--dark);
    background-color: var(--primary);
    transform: scale(1);
    transition: transform 0.4s ease;
}

.agent-info a:hover {
    transform: scale(1.1);
    color: var(--light);
}

.agent-info p span {
    color: var(--primary);
}

/* Comment Customer */
.comment {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.comment-start {
    margin-bottom: 60px;
    padding: 10px;
}

.comment-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-start h1 {
    font-size: 50px;
    color: var(--dark);
    padding-bottom: 20px;
}

.comment-start p {
    color: #666565;
    width: 800px;
    text-wrap: balance;
}

.comment-start p span {
    color: var(--primary);
}


/*#########################*/
.comment-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.comment-style {
    background-color: var(--light);
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.5s ease;
    width: 100%;
    /* Ajustar el ancho de los comentarios */
}

.comment-slider .active-comment {
    transform: translateX(0);
    /* Mostrar el comentario actual */
}

.comment-slider .next-comment {
    transform: translateX(-100%);
    /* Ocultar el comentario a la izquierda */
}

.comment-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 146px;
    gap: 20px;
    width: 500px;
    background-color: white;
    padding: 10px;
    border: 1px dotted var(--primary);

}

.comment-profile {
    display: flex;
    gap: 10px;
}

/* sliders buttons */

.comment-rows {
    display: flex;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 30px;
}


#swiper-button-prev2 {
    position: relative;
    background-color: var(--light);
    margin-right: 20px;
}

#swiper-button-next2 {
    position: relative;
    margin-left: 20px;
    background-color: var(--light);
}

/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 0 50px 200px 50px;
    background-color: var(--dark);
    color: var(--light);
    height: 400px;
    /* Alinea el texto horizontalmente en el footer */
}

.contacts,
.sites,
.photos {
    margin-top: 30px;
}


.contacts,
.sites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contacts h1,
.sites h1,
.photos h1 {
    font-size: 40px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
}

.contacts ul li {
    width: 400px
}


.contacts ul li i {
    padding: 10px;
}

.contacts ul li:hover i {
    color: var(--primary);
}

.photos img {
    width: 90px;

    border: 2px solid var(--light);
}

.sites ul li {
    margin-bottom: 10px;
}

.sites ul li a {
    color: var(--light);
}

.sites ul li::before {
    content: ">";
    padding-right: 10x;
    font-weight: 700;
}

.sites ul li:hover::before {
    color: var(--primary);
}

.photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photos-galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.container br {
    margin-bottom: 100px;
    background-color: blue;
    border-color: 100px solid var(--light);
}

.icons {
    display: flex;
}

.icons i {
    font-size: 25px;
    color: var(--light);
    padding: 0 10px;
}

.icons i:hover {
    color: var(--primary)
}


/* Form signup */

.formulario-centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.formulario-centered h1 {
    padding: 10px 0;
    color: var(--dark);
}

.form-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 700px;
    margin: 10px auto;
    padding: 10px 0;
    border: 1px dotted var(--primary);
}

.form-group label {
    font-size: 20px;
    color: var(--dark);
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.form-group input {
    font-size: 20px;
    background-color: var(--light);
    border: 1px dotted var(--primary);
    height: 30px;
    padding: 10px;
}

.number {
    width: 70%;
}

.form-card button {
    font-size: 25px;
    color: var(--dark);
    background-color: var(--light);
    border: 1px dotted var(--primary);
    padding: 10px;
    border-radius: 10px;
}

.form-group select {
    font-size: 20px;
    background-color: var(--light);
    border: 1px dotted var(--primary);
    width: 54.5%;
    text-align: left;
}


/* Estilos para el contenedor de la alerta */
.custom-alert {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 1rem;
    border: 1px solid var(--dark);
    /* Color del borde de alerta de éxito */
    background-color: white;
    /* Color de fondo de alerta de éxito */
    color: var(--dark);
    /* Color del texto de alerta de éxito */
    border-radius: 0.25rem;
}

/* Estilos para el botón de cierre */
.close-button {
    margin-left: auto;
    /* Coloca el botón al extremo derecho */
    background: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.comment-page {
    display: flex;
    padding: 10px;
}

.comment-page iframe {
    width: 50%;
    height: 450px;
    border: 0;
}

.content {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content p {
    margin-bottom: 20px;
}

.info-form {
    display: flex;
    margin-bottom: 20px;
}

.info-form input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid var(--primary);
    color: var(--dark);
    border-radius: 5px;
    font-size: 15px;
}

.form-contact input[name='subject'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.form-contact textarea {
    width: 100%;
    padding: 10px;
    min-height: 250px;
    margin-top: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.comment-img img {
    width: 50px;
}

.rating {
    font-size: 24px;
    /* Tamaño de fuente de las estrellas */
}

.star {
    color: #ccc;
    /* Color de las estrellas vacías */
    cursor: pointer;
    transition: color 0.3s;
}

.star[data-rating="1"],
.star[data-rating="2"],
.star[data-rating="3"],
.star[data-rating="4"],
.star[data-rating="5"],
.star[data-rating="4.5"] {
    color: #00B98E;
    /* Color de las estrella rellenas */
}

.comment-text-content p span {
    color: var(--primary);
}

/* IDs */

#menu {
    display: none;
}


/* Media Queryes*/

@media (max-width:991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;

        top: 100%;
        left: 0;
        right: 0;
        background-color: #0E2E50;
        backdrop-filter: blur(5px);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .header {
        padding: 80px 30px 50px 30px;
        align-items: self-start;
        flex-direction: column;
        align-items: center;
    }

    .header-text {
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }

    .header-text h1 {
        margin-bottom: 10px;
    }

    .images {
        position: initial;
        width: 300px;
        height: 300px;
    }


}