<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Views - Index</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, voluptatem? Soluta, reprehenderit commodi
        deleniti, et sunt dicta porro molestias consequuntur sapiente officiis inventore labore aperiam consequatur.
        Deserunt soluta magnam pariatur dolore officia rem atque ipsam quasi culpa enim, numquam reiciendis molestiae
        voluptas voluptatum quas doloribus hic repellat aliquam corporis, autem, maxime illum dolor! Nobis praesentium
        perspiciatis tempora corporis natus, dolores quae sequi vitae, ipsum adipisci blanditiis a, repellat quo culpa
        sapiente nam voluptatum id? Perferendis recusandae temporibus pariatur possimus ullam excepturi harum dolores
        expedita magnam animi ducimus, quam molestias in repudiandae eum eligendi illum aperiam deleniti ipsam modi
        veniam debitis?</p>
</body>

</html>